cask "conlab" do
  version "1.0.0"
  sha256 "<replace-with-dmg-sha256>"

  url "https://github.com/h4rkon/conlab/releases/download/v#{version}/Conlab_#{version}_aarch64.dmg"
  name "Conlab"
  desc "Controlled collaboration text ledger"
  homepage "https://github.com/h4rkon/conlab"

  app "Conlab.app"
end
